*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;

  @supports (font-variation-settings: normal) {
    font-family: 'Inter var', sans-serif;
  }
}

.button {
  @apply bg-gray-300 text-gray-700 p-4 rounded-xl
}
