*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;

  @supports (font-variation-settings: normal) {
    font-family: 'Inter var', sans-serif;
  }
}

.blinking-opacity {
  animation: 1s opacity-blink infinite;
}

@keyframes opacity-blink {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.3;
  }

  51% {
    opacity: 1.0;
  }

  100% {
    opacity: 1.0;
  }
}
